<div class="tests-container">
  <div class="test-container">
    <button mat-flat-button color="primary" (click)="getForAll()">
      Get text for all
    </button>
    <p>{{ textForAll }}</p>
  </div>
  <div class="test-container">
    <button mat-flat-button color="primary" (click)="getForRegistered()">
      Get text for registered
    </button>
    <p>{{ textForRegistered }}</p>
  </div>
  <div class="test-container">
    <button mat-flat-button color="primary" (click)="getForAdmins()">
      Get text for admins
    </button>
    <p>{{ textForAdmins }}</p>
  </div>
</div>
